@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #323232;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.box_header {
  position: relative;
  background: #fff;
  display: flex;
  height: 50px;
}

.imgLogo {
  position: relative;
  width: 340px;
  height: 50px;
  left: 25px;
  top: 10px;
}

.box_category{
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  width: 1163px;
  height: 495px;
  margin-top: 8%;
  margin-left: 8%;
  z-index: 3;
}

.txt_category{
  position: absolute;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 30px;
  color: #fff;
  margin-top: 25px;
  z-index: 1;
}

.category{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.box{
  width: 100%;
}

.box img{
  width: 240px;
  height: 230px;
}

.box .txt1{
  position: absolute;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 30px;
  color: #fff;
  margin-top: 25px;
}

.box .txt2{
  position: absolute;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 30px;
  color: #fff;
  margin-top: 25px;
  margin-left: 60px;
}

.box .txt3{
  position: absolute;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 30px;
  color: #fff;
  margin-top: 25px;
  margin-left: 60px;
}

.box .txt4{
  position: absolute;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 30px;
  color: #fff;
  margin-top: 25px;
  margin-left: 60px;
}